<tr class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap px-6 py-4 font-medium"><%= github_repository.owner %> / <%= github_repository.name %></td>
  <td class="whitespace-nowrap px-6 py-4"><%= github_repository.stargazers_count %></td>
  <td class="whitespace-nowrap px-6 py-4"><%= link_to "View on GitHub", github_repository.url %></td>
  <td class="whitespace-nowrap px-6 py-4">
    <% if action_name != "show" %>
      <%= link_to "Show", github_repository %>&nbsp;<%= link_to "Edit", edit_github_repository_path(github_repository) %>
    <% end %>
  </td>
</tr>
