<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Github repositories</h1>
    <%= link_to 'New github repository', new_github_repository_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div>
    <% @star_ranges.each do |star_range, num_stars| %>
      <p><%= star_range.first %> to <%= star_range.last %> stars: <%= num_stars %> repositories</p>
    <% end %>
  </div>

  <div id="github_repositories" class="min-w-full">
    <%= render @github_repositories %>
  </div>
</div>
